<%= form_with(model: project) do |f| %>

  <%= render 'shared/errors', object: project %>

  <p>
    <%= f.label :name, class: "block" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description, class: "block" %>
    <%= f.rich_text_area :description %>
  </p>

  <p>
    <%= f.label :done, class: 'block' %>
    <%= f.check_box :done %>
  </p>

  <p>
  <% if project.persisted? %>
    <%= f.submit "Update project", class: "button" %>
  <% else %>
    <%= f.submit "Create project", class: "button" %>
  <% end %>
  </p>
<% end %>

