<%= form_with(model: project) do |f| %>

  <%= render 'shared/errors', object: project %>

  <p>
    <%= f.label :name, class: "block" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description, class: "block" %>
    <%= f.rich_text_area :description %>
  </p>

  <div class="flex flex-row space-x-10">
    <div>
      <%= f.label :done, class: 'block' %>
      <%= f.check_box :done %>
    </div>

    <div>
      <%= f.label :priority, class: 'block' %>
      <%= f.select :priority, [1, 2, 3, 4, 5] %>
    </div>

    <div>
      <%= f.label :cover, class: 'block' %>
      <%= f.file_field :cover %>
    </div>
  </div>

  <p class="mt-8">
  <% if project.persisted? %>
    <%= f.submit "Update project", class: "button" %>
  <% else %>
    <%= f.submit "Create project", class: "button" %>
  <% end %>
  </p>
<% end %>

