<article class="mx-auto my-2 p-4 bg-slate-100 border rounded-md">
  <h2 class="font-bold text-2xl"><%= project.name %></h2>

  <p>
    <%= truncate(strip_tags(project.description.to_s), length: 200, separator: " ") %>
  </p>

  <div class="flex flex-row justify-between">
    <%= status_for(project) %>

    <span><%= pluralize(project.activities.count, 'activity') %></span>

    <%= link_to "view &rarr;".html_safe,
      project_path(project),
      class: "uppercase text-sm text-right block" %>
  </div>
</article>
