<div class="flex flex-col md:flex-row md:justify-between">
  <h1 class="mb-2 md:mb-4 font-bold text-3xl"><%= @project.name %></h1>

  <%= cover(@project) %>

  <div class="flex flex-row space-x-4 items-center justify-start mb-4">
    <%= status_for(@project) %>

    <div class="w-8 h-8 rounded-full bg-indigo-400 flex justify-center
                items-center text-white font-bold">
      <%= @project.priority %>
    </div>
  </div>
</div>


<div class="mb-8">
  <%= @project.description %>
</div>

<div class="flex flex-row space-x-4">
  <%= link_to "Edit", edit_project_path(@project), 
    class: "button" %>

  <%= link_to "Add activity", new_project_activity_path(@project),
    class: 'button' %>

  <%= button_to "Remove", project_path(@project), method: :delete,
    form: {data: {turbo_confirm: "This project and all its activities will be deleted. Are you sure?"}},
    class: 'button' %>
</div>

  <h2 class="mt-8 mb-4">To do</h2>

  <%= render("activities/activity", project: @project, activity: @next) if @next %>

<% if @todos.empty? %>
  <p>Nothing to do.</p>
<% else %>
  <% @todos.each do |activity| %>
    <%= render activity, project: @project %>
  <% end %>
<% end %>

<% unless @dones.empty? %>
  <h2 class="mt-8 mb-4 text-slate-500">Done</h2>

  <% @dones.each do |activity| %>
    <%= render "activities/activity_done", activity: activity, project: @project %>
  <% end %>
<% end %>
