<div class="flex flex-col md:flex-row md:space-x-8">
  <%= cover(@project) %>

  <div class="flex flex-col">
    <%= date_for(@project) %>

    <h1 class="my-2 font-bold text-2xl md:text-3xl"><%= @project.name %></h1>

    <div class="flex flex-row space-x-4 items-center justify-start mb-6">
      <%= priority_for(@project) %>
      <%= status_for(@project) %>
    </div>

    <div class="flex flex-row space-x-4">
      <%= link_to "Add activity",
        new_project_activity_path(@project),
        data: { turbo_frame: dom_id(Activity.new) },
        class: 'button' %>

      <%= link_to "Edit", edit_project_path(@project), 
        class: "button" %>

      <% if @project.done? %>
        <%= button_to "Remove", project_path(@project), method: :delete,
        form: {data: {turbo_confirm: "This project and all its activities will be deleted. Are you sure?"}},
        class: 'button' %>
      <% end %>
    </div>

  </div>
</div>

<div class="my-8">
  <%= @project.description %>
</div>

<%= turbo_frame_tag Activity.new %>

<h2 class="mt-8 mb-4">To do</h2>
<%= turbo_frame_tag "activities" do %>
  <%= render "activities/activities", activities: @activities, project: @project %>
<% end %>


<h2 class="mt-8 mb-4 text-slate-500">Done</h2>
<%= turbo_frame_tag "done_activities" do %>
  <%= render "done_activities/activities", activities: @done_activities, project: @project %>
<% end %>

