<h1 class="mb-4 font-bold text-4xl"><%= @project.name %></h1>

<%= status_for(@project) %>

<div>
  <%= @project.description %>
</div>

<%= link_to "Edit", edit_project_path(@project), 
  class: "button" %>

<%= link_to "Add activity", new_project_activity_path(@project),
  class: 'button' %>

<h2 class="mt-8 mb-4">Activities</h2>

<% @activities.each do |activity| %>
  <%= render activity %>
<% end %>
