<div class="flex flex-row justify-between align-center">
<h1 class="mb-4 font-bold text-4xl"><%= @project.name %></h1>
<div class="w-10 h-10 rounded-full bg-indigo-400 flex justify-center items-center text-white font-bold"><%= @project.priority %></div>
</div>

<%= status_for(@project) %>

<div>
  <%= @project.description %>
</div>

<%= link_to "Edit", edit_project_path(@project), 
  class: "button" %>

<%= link_to "Add activity", new_project_activity_path(@project),
  class: 'button' %>

<h2 class="mt-8 mb-4">To do</h2>

<% @activities_todo.each do |activity| %>
  <%= render activity, project: @project %>
<% end %>


<h2 class="mt-8 mb-4">Done</h2>

<% @activities_done.each do |activity| %>
  <%= render activity, project: @project %>
<% end %>
