<div id="activity-<%= activity.id %>"
     class="p-2 mb-2 flex flex-col justify-between align-start bg-slate-100 text-slate-500">

  <%= activity.content %>

  <span class="flex flex-row space-x-4 items-center pt-2">
    <%= button_to edit_icon,
      edit_project_activity_path(project, activity),
      method: :get %>

    <%= button_to remove_icon, project_activity_path(project, activity),
      method: :delete, 
      form: {data: {turbo_confirm: "This item will be deleted. Are you sure?"}},
      class: "uppercase text-sm" %>

      <%= button_to reactivate_icon, done_activity_path(activity),
        method: :delete,
        class: "uppercase text-sm" %>

    <span class="text-xs">Done <%= time_ago_in_words(activity.updated_at) %> ago</span>
  </span>
</div>
