<div id="activity-<%= activity.id %>"
     class="p-2 mb-2 flex flex-col justify-between align-start
  <%= activity.next? ? 'bg-amber-200 border-l-8 border-l-amber-400' : 'bg-slate-200' %> ">

  <%= activity.content %>

  <span class="flex flex-row space-x-4 items-center pt-2">
    <%= button_to edit_icon,
      edit_project_activity_path(project, activity),
      method: :get %>

    <%= button_to remove_icon, project_activity_path(project, activity),
      method: :delete, 
      form: {data: {turbo_confirm: "This item will be deleted. Are you sure?"}},
      class: "uppercase text-sm" %>

    <% if activity.done? %>
      <%= button_to reactivate_icon, done_activity_path(activity),
        method: :delete,
        class: "uppercase text-sm" %>
    <% else %>
      <%= button_to done_icon, done_activities_path(activity),
        class: "uppercase text-sm" %>
    <% end %>

    <% unless activity.done? || activity.next? %>
      <%= button_to make_next_icon, next_activities_path(activity),
        class: "uppercase text-sm" %>
    <% end %>

    <% if activity.done? %>
      <span class="text-xs">Done <%= time_ago_in_words(activity.updated_at) %> ago</span>
    <% else %>
      <span class="text-xs">Created <%= time_ago_in_words(activity.created_at) %> ago</span>
    <% end %>

  </span>

</div>
