<div id="activity-<%= activity.id %>"
     class="p-2 mb-2 flex flex-col justify-between align-start
  <%= activity.next? ? 'bg-amber-200 border-l-8 border-l-amber-400' : 'bg-slate-200' %> ">

  <%= activity.content %>

  <span class="flex flex-row space-x-4 items-center pt-2">
    <%= button_to edit_icon,
      edit_project_activity_path(project, activity),
      method: :get %>

    <%= button_to remove_icon, project_activity_path(project, activity),
      method: :delete, 
      form: {data: {turbo_confirm: "This item will be deleted. Are you sure?"}},
      class: "uppercase text-sm" %>

      <%= button_to done_icon, done_activities_path(activity),
        class: "uppercase text-sm" %>

    <% unless activity.next? %>
      <%= button_to make_next_icon, next_activities_path(activity),
        data: { turbo_frame: "next_activity" },
        class: "uppercase text-sm", id: "make-next" %>
    <% end %>

    <span class="text-xs">Created <%= time_ago_in_words(activity.created_at) %> ago</span>
  </span>
</div>
